<div class="flex-grow py-2 px-2 flex-row">
  <%= form_with url: "/search", method: :get, class: "max-w-md mx-auto" do |form| %>
    <%= form.label :query, "Search", class: "mb-2 text-sm font-medium text-gray-900" %>

    <div class="relative">
      <%= form.text_field :query, class: "block w-full p-4 ps-10 text-sm  border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500", placeholder: "Search address...", required: true, value: @search_param %>
      <%= form.submit "Search", class: "text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2" %>
    </div>
  <% end %>
</div>

<% if @result&.success? %>
  <div class="flex py-2 px-2">
    Current Temp: <%= @result.forecast.temp %>&deg;
    Feels Like: <%= @result.forecast.feels_like %>&deg;
    Cached: <%= @result.cached %>
  </div>
<% end %>

<% if @result&.failure? %>
  <div>Something went wrong.</div>
  <div><%= @result.message %></div>
<% end %>
